# App
BUILD_NUMBER=0
DEBUG=true
ENVIRONMENT=local
LOG_LEVEL=INFO
NAME=starlite-pg-redis-docker

# Api
API_CACHE_EXPIRATION=60
API_DB_SESSION_DEPENDENCY_KEY=db_session
API_DEFAULT_PAGINATION_LIMIT=100
API_DEFAULT_USER_NAME="__default_user__"
API_HEALTH_PATH=/health
API_SECRET_KEY=super-secret-value
API_USER_DEPENDENCY_KEY=user

# OpenAPI
OPENAPI_CONTACT_EMAIL=some_human@email.com
OPENAPI_CONTACT_NAME="Some Human"
OPENAPI_TITLE="My Starlite App"
OPENAPI_VERSION=1.0.0

# Redis
REDIS_URL=redis://redis:6379/0

# Database
DB_ECHO=false
DB_ECHO_POOL=false
DB_POOL_DISABLE=false
DB_POOL_MAX_OVERFLOW=10
DB_POOL_SIZE=5
DB_POOL_TIMEOUT=30
DB_URL=postgresql+asyncpg://postgres:mysecretpassword@db:5432/example-pg-docker

# Server
UVICORN_HOST=0.0.0.0
UVICORN_KEEPALIVE=65
UVICORN_LOG_LEVEL=info
UVICORN_PORT=8000
UVICORN_RELOAD=true
UVICORN_TIMEOUT=65

# Sentry
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.0001

# Email
EMAIL_HOST=mailhog
EMAIL_NEW_AUTHOR_SUBJECT=New Author Added
EMAIL_PORT=1025
EMAIL_RECIPIENT=someone@somewhere.com
EMAIL_SENDER=root@localhost
